* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    
    min-height: 100vh;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: #222733;
    color: #fff;
}

canvas {
    background-color: #111;
}